body {
    font-family: 'Finlandica', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orangered;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.width {
    width: 50%;
    padding-left: 3%;
}

.width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 8px 25px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 3px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}